.combo-sign {
    position: absolute;
    padding: 12px 24px;
    background: #333;
    border: 6px ridge #444;
    left: 0;
    top: 50%;
    margin-top: 26px;
    opacity: 0;
    transition: all .2s ease-out;
    // font-weight: 600;
    // letter-spacing: .3px;

    &.visible {
        opacity: 1;
        top: 100%
    }

    &::after,
    &::before {
        content: '';
        position: absolute;
        height: 20px;
        width: 10px;
        background: black;
        background-image: url('./../../static/images/misc-vertical_separator.png');
        background-size: 100% auto;
        top: -26px;
        filter: grayscale(100%);
    }

    &::before {
        left: 16px;
    }

    &::after {
        right: 16px;
    }

    p {
        font-size: 16px;
        text-align: center;

        span {
            display: block;
            font-family: 'Germania One';
            font-size: 40px;
            text-shadow: 0 0 5px gold;
        }
    }
}