.tabs-wrapper {

    .tabs-container {
        display: flex;
        flex-flow: row nowrap;

        .tab {
            flex-grow: 1;
            text-align: center;
            padding: 30px;
            background-color: darken(#4e3013, 10%);
            color: rgba(255, 255, 255, 0.5);
            cursor: pointer;
            font-size: 24px;
            box-shadow: 0 0 40px #222 inset;

            &.tab-selected {
                color: white;
                background-color: #4e3013;
                cursor: default;
            }
        }
    }
}

.tabs-content-wrapper {
    flex-grow: 1;

    .tabs-content-container {
        height: 100%;

        .tab-content {
            height: 100%;
        }
    }
}

.under-tab-bar {
    height: 20px;
    width: 100%;
    background-image: url('./../../static/images/misc-horizontal_separator.png');
    background-size: auto 100%;
}